@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.svg);
    src: url(../fonts/glyphicons-halflings-regular.ttf);
    src: url(../fonts/glyphicons-halflings-regular.woff);
}

body {
    background-color: #f5f5f5;
}

.container {
    background: #fff;
}

.content {
    margin: 0 00px;
    padding: 10px;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: -1px;
}

.footer {
    text-align: center;
    clear: both;
    padding: 20px;
    font-size: small;
}
.languagebox {
    text-align: center;
    float: right;
    margin-right: 10px;
}

.logo {
    float: left;
    background: url(../images/logo.png) no-repeat;
    width: 200px;
    height: 95px;
    margin: 10px;
}
.logo a {
    display: block;
    height: 100%;
}

.row {
    margin-bottom: 20px;
}

.content-block {
    margin: 20px 0;
}

.reviews img {
    margin-right: 20px;
}

.reviews li {
    margin: 0 0 20px 0;
}

.news-cap-group {
    margin: 10px 0;
    background: #f5f5f5;
    overflow: hidden;
    border-radius: 4px;
    padding: 8px 15px;
}
.news-cap a {
    float: left;
    font-size: 18px;

}

.news-cap a:hover {
    text-decoration: none;
}

.news-date {
    float: right;
}
.news-item img {
    float: left;
    margin: 0 10px;
}
div.debug {
    text-align: center;
    margin: 0 auto;
}
.photo {
    display: block;
    float: left;
    height: 130px;
    width: 130px;
    margin: 10px;
}

.breadcrumb {
    overflow: hidden;
}

ul.breadcrumb > li {
    float: left;
    padding: 0 5px 0;
}
ul.breadcrumb > li:last-child{
    display: none;
}
ul.breadcrumb > li > a {
    color: #a6a6a6;
}
div.inner {
    padding: 20px;
}

.category-block img {
    margin: 0 10px 10px 0;
    float: left;
}
#captcha {
    cursor: pointer;
}
#captcha:hover {
    opacity: 0.5;
}
.link-login {
    display: block;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
}
#restore-block {
    display: none;
}